@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 10s linear infinite;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Helvetica";
  font-weight: 500;
}
