body {
  background-color: var(--ui-background);
}

body > header > h1 {
  color: var(--text-01);
}

body > header > h2 {
  color: var(--text-02);
}

section > span {
  background-color: var(--ui-background);
}

section > span > span {
  color: var(--text-01);
}

article > header > h2 {
  color: var(--text-01);
}

article > header > h3 {
  color: var(--text-03);
}

address a {
  color: var(--link-01);
}
