:root {
  --color-background: #fff;
  --color-primary: #171717;
  --color-secondary: #565656;
  --color-link: #0062ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #262626;
    --color-primary: #f4f4f4;
    --color-secondary: #c6c6c6;
    --color-link: #78a9ff;
  }

  body > main > span {
    background-color: #393939;
  }

  .invert,
  body > header > address > a > img,
  body > article > img {
    filter: invert(100);
  }
}

body {
  background-color: var(--color-background);
}

body > main > span {
  border: 0.25rem var(--color-secondary) solid;
}

body {
  border: 0.25rem transparent solid;
}

body > header > h1,
body > article > header > h2,
body > header > h2 {
  color: var(--color-primary);
}

body > article > aside {
  color: var(--color-secondary);
}

a {
  color: var(--color-link);
}

body > main > span > a {
  color: var(--color-primary);
}

body > article > p {
  color: var(--color-primary);
}
