:root {
  --color-primary: #171717;
  --color-secondary: #565656;
  --color-link: #0062ff;
}

body,
body > main > span {
  border: 2px var(--color-secondary) solid;
}

body > header > h1,
body > article > header > h2,
body > header > h2 {
  color: var(--color-primary);
}

body > article > aside {
  color: var(--color-secondary);
}

a {
  color: var(--color-link);
}

body > main > span > a {
  color: var(--color-primary);
}

body > article > p {
  color: var(--color-primary);
}
