a {
  color: var(--font-color-link);
}

header > h1 {
  color: var(--font-color-primary);
}

body > header > h2 {
  color: var(--font-color-primary);
}

main > span > a {
  color: var(--font-color-primary);
  letter-spacing: var(--letter-spacing-l);
}

article > header > h2 {
  color: var(--font-color-primary);
}

article > header > h3 {
  color: var(--font-color-link);
}

article > p {
  color: var(--font-color-secondary);
}
