main {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
}

article {
  display: grid;
  margin-top: 1em;
  grid-template-columns: 3.2rem 1fr 15rem;
  grid-template-rows: 3.2rem 1fr;
  grid-template-areas:
    "pictogram  header date"
    "text       text   text";
}

article > img {
  grid-area: pictogram;
}

article > header {
  grid-area: header;
  margin-left: 1em;
}

article > p {
  grid-area: text;
  margin-top: var(--font-size-xs);
  margin-left: 1.7rem;
  padding-left: calc(1.7rem + 1em - 2px);
  border-left: 2px solid black;
}

article > aside {
  grid-area: date;
  text-align: end;
  justify-self: end;
  align-self: center;
}
