* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-size: 6px;
}

body {
  --page-height: 130rem;
  --page-height-over-width: 1.414;

  width: calc(var(--page-height) / var(--page-height-over-width));
  height: var(--page-height);
  margin: 1rem auto;
}

body,
body > main > span {
  border-radius: 0.25rem;
}

body > header {
  margin: 4rem 4rem 0 4rem;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto auto;
  grid-template-areas:
    "title address"
    "intro intro";
}

body > header > h1 {
  grid-area: title;
  align-self: end;
}

body > header > h2 {
  grid-area: intro;
  margin-top: 2rem;
}

body > header > address {
  grid-area: address;
  justify-self: end;
  display: flex;
  flex-wrap: wrap;
}

body > header > address a {
  display: flex;
  align-items: center;
  width: 50%;
}

body > header > address a img {
  height: 2rem;
  margin-right: 1rem;
}

body > main {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 4rem 0 4rem;
}

body > main > span {
  display: flex;
  align-items: center;
  width: min-content;
  margin: 1rem 1rem 0 0;
  padding: 1rem 2rem 1rem 1rem;
}

body > main > span:last-child {
  margin-right: 0;
}

body > main > span > img {
  height: 2rem;
}

body > main > span > a {
  margin-left: 1rem;
  white-space: nowrap;
}

body > article:first-of-type {
  margin-top: 4rem;
}

body > article {
  --horizontal-margin: 4rem;
  --header-margin-left: 4rem;
  --pictogram-width: 7rem;

  display: grid;
  margin: 1rem var(--horizontal-margin) 0 var(--horizontal-margin);
  grid-template-columns: var(--pictogram-width) 2.5fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "pictogram  header date"
    "text       text   text";
}

body > article > img {
  grid-area: pictogram;
}

body > article > header {
  grid-area: header;
  margin-left: var(--header-margin-left);
}

body > article > p {
  --left-border-thickness: 0.25rem;

  grid-area: text;
  margin-top: 1rem;
  border-left: var(--left-border-thickness) solid var(--color-primary);
  padding-bottom: 1rem;
  padding-left: calc(
    var(--pictogram-width) / 2 + var(--header-margin-left) -
      var(--left-border-thickness) / 2
  );
  margin-left: calc(
    var(--pictogram-width) / 2 - var(--left-border-thickness) / 2
  );
}

body > article > aside {
  grid-area: date;
  text-align: end;
  justify-self: end;
  align-self: center;
}
