:root {
  --size-unit: 8px;
  /* font-size: 14px; */
}

* {
  box-sizing: border-box;
}

body {
  --page-height: 1040px;
  --page-height-over-width: 1.414;

  /* margin-top: 1rem !important; */
  width: calc(var(--page-height) / var(--page-height-over-width));
  height: var(--page-height);
  margin: var(--size-unit) auto;
  border-radius: calc(0.5 * var(--size-unit));
}

body > header {
  margin: calc(4 * var(--size-unit)) calc(4 * var(--size-unit)) 0
    calc(4 * var(--size-unit));
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto auto;
  grid-template-areas:
    "title address"
    "intro intro";
}

body > header > h1 {
  grid-area: title;
  align-self: end;
}

body > header > h2 {
  grid-area: intro;
  margin-top: calc(2 * var(--size-unit));
}

body > header > address {
  grid-area: address;
  justify-self: end;
  display: flex;
  flex-wrap: wrap;
}

body > header > address a {
  display: flex;
  align-items: center;
  width: 50%;
}

body > header > address a img {
  height: 16px;
  margin-right: 8px;
}

body > main {
  display: flex;
  flex-wrap: wrap;
  margin: 16px 32px 0 32px;
}

body > main > span {
  display: flex;
  align-items: center;
  width: min-content;
  margin: 8px 8px 0 0;
  padding: 8px 16px 8px 8px;
  border-radius: 4px;
}

body > main > span:last-child {
  margin-right: 0;
}

body > main > span > img {
  height: 16px;
}

body > main > span > a {
  margin-left: 8px;
  white-space: nowrap;
}

body > article:first-of-type {
  margin-top: 32px;
}

body > article {
  --horizontal-margin: 32px;
  --pictogram-width: 56px;
  --header-margin-left: 16px;

  display: grid;
  margin: 8px var(--horizontal-margin) 0 var(--horizontal-margin);
  grid-template-columns: var(--pictogram-width) 280px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "pictogram  header date"
    "text       text   text";
}

body > article > img {
  grid-area: pictogram;
}

body > article > header {
  grid-area: header;
  margin-left: var(--header-margin-left);
}

body > article > p {
  --left-border-thickness: 2px;

  grid-area: text;
  margin-top: 8px;
  border-left: var(--left-border-thickness) solid black;
  padding-bottom: 8px;
  padding-left: calc(
    var(--pictogram-width) / 2 + var(--header-margin-left) -
      var(--left-border-thickness) / 2
  );
  margin-left: calc(
    var(--pictogram-width) / 2 - var(--left-border-thickness) / 2
  );
}

body > article > aside {
  grid-area: date;
  text-align: end;
  justify-self: end;
  align-self: center;
}
