* {
  box-sizing: border-box;
  font-family: "Helvetica";
  font-weight: 500;
}

body {
  width: 21cm;
  min-width: 21cm;
  height: 29.7cm;
  min-height: 29.7cm;
  padding: 2cm;
  padding-top: 1cm;
  margin: 1cm auto;
  border-radius: 5px;
}

body > header {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto auto;
  grid-template-areas:
    "title address"
    "intro intro";
}

body > header > h1 {
  grid-area: title;
  align-self: end;
}

body > header > h2 {
  grid-area: intro;
  font-size: 1rem;
  margin-top: 0;
  margin-top: 0.5rem;
}

body > header > address {
  grid-area: address;
  justify-self: end;
}

address {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  font-size: 3rem;
}

address a {
  display: flex;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
}

address a img {
  height: 1rem;
  margin-right: 0.3rem;
}

article {
  margin-top: 2rem;
  height: 3rem;
  display: flex;
  margin-bottom: 8rem;
}

article > header {
  margin-left: 1rem;
}

article > header > h2 {
  margin: 0;
}

article > header > h3 {
  cursor: pointer;
  margin: 0.3rem 0 0 0;
}
