body {
  position: relative;
  background-color: #fafafa;
  font: 12pt "Tahoma";
  width: 21cm;
  min-width: 21cm;
  height: 29.7cm;
  min-height: 29.7cm;
  padding: 2cm;
  margin: 1cm auto;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin-bottom: 0;
}

header h3 {
  margin-top: 0;
  margin-top: 0.5rem;
}

address {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 1cm;
  right: 0;
  top: 0;
}

address a {
  text-decoration: none;
}
