* {
  margin: 0;
}

a:not(:hover) {
  text-decoration: none;
}

h1 {
  font-family: Tahoma;
  font-weight: 300;
  margin-bottom: var(--font-size-m);
}

body > header > h2 {
  font-family: Helvetica;
  font-size: var(--font-size-m);
  line-height: 1.375rem;
  letter-spacing: var(--letter-spacing-l);
  font-weight: 500;
}

address > a {
  font-family: Verdana;
  font-size: var(--font-size-xs);
  letter-spacing: var(--letter-spacing-l);
  font-style: normal;
}

article > header > h2 {
  font-family: Helvetica;
  font-size: var(--font-size-l);
  font-weight: 500;
}

article > header > h3 {
  font-family: Tahoma;
  letter-spacing: var(--letter-spacing-l);
  font-size: var(--font-size-m);
  line-height: calc(2 * var(--font-size-m));
}

article > p {
  font-family: Helvetica;
  font-size: var(--font-size-m);
  line-height: 1.25rem;
  letter-spacing: var(--letter-spacing-l);
}

article > header > h3 > a {
  font-weight: 400;
}

article > aside {
  font-family: Verdana;
  font-size: var(--font-size-xs);
  letter-spacing: var(--letter-spacing-l);
}

main > span > a {
  font-family: Tahoma;
  font-size: var(--font-size-s);
}
