a:not(:hover) {
  text-decoration: none;
}

body > header > h1 {
  font-family: Helvetica;
  line-height: 6rem;
  font-size: calc(6rem * 45 / 48);
  font-weight: 300;
}

body > header > h2 {
  letter-spacing: 0.01rem;
}

body > article > header > h2 {
  font-family: Helvetica;
  line-height: 4rem;
  font-size: calc(4rem * 25 / 32);
  font-weight: 300;
  white-space: nowrap;
}

body > header > h2,
body > article > p,
body > article > aside {
  font-family: Helvetica;
  line-height: 3rem;
  font-size: calc(3rem * 13 / 24);
}

body > article > p {
  letter-spacing: 0.04rem;
}

body > article > header > h3,
body > main > span > a,
body > header > address > a {
  font-family: Verdana;
  line-height: 3rem;
  font-size: 1.5rem;
}

body > article > header > h3,
body > main > span > a {
  font-weight: 500;
}

body > header > address > a {
  font-weight: 300;
  font-style: normal;
}

body > article > aside {
  font-weight: 300;
  letter-spacing: 0.08rem;
}
