* {
  font-family: "Helvetica";
  margin: 0;
}

a:not(:hover) {
  text-decoration: none;
}

address > a {
  font-style: normal;
}

p {
  color: var(--text-02);
}

.expressive-heading-01 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25em;
  letter-spacing: 0px;
}

.expressive-heading-02 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5em;
  letter-spacing: 0px;
}

.expressive-heading-03 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75em;
  letter-spacing: 0px;
}

.expressive-heading-04 {
  font-size: 1.75rem;
  font-weight: 400;
  /* line-height: 2.25em; */
  letter-spacing: 0px;
}

.expressive-heading-05 {
  font-size: 2.625rem;
  font-weight: 300;
  line-height: 2em;
  letter-spacing: 0px;
}

.expressive-heading-06 {
  font-size: 2.625rem;
  font-weight: 600;
  line-height: 3.125em;
  letter-spacing: 0px;
}

.helper-text-01 {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: 0.32px;
}

.helper-text-02 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125em;
  letter-spacing: 0.16px;
}

.label-01 {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.32px;
}

.label-02 {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.16px;
}

.body-short-01 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125em;
  letter-spacing: 0.16px;
}

.body-short-02 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375em;
  letter-spacing: 0px;
}

.body-long-01 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: 0.16px;
}

.body-long-02 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0px;
}
