* {
  margin: 0;
}

a:not(:hover) {
  text-decoration: none;
}

h1 {
  font-family: Helvetica;
  line-height: 48px;
  font-size: 45px;
  font-weight: 300;
}

body > header > h2 {
  font-family: Helvetica;
  font-size: 13px;
  line-height: 24px;
}

body > header > address > a {
  font-family: Verdana;
  line-height: 24px;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
}

article > header > h2 {
  font-family: Helvetica;
  font-size: 25px;
  line-height: 32px;
  font-weight: 300;
  white-space: nowrap;
}

article > header > h3 {
  font-family: Verdana;
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
}

article > p {
  font-family: Helvetica;
  line-height: 24px;
  font-size: 13px;
}

article > aside {
  font-family: Helvetica;
  line-height: 24px;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: var(--letter-spacing-l);
}

body > main > span > a {
  font-family: Verdana;
  line-height: 24px;
  font-size: 12px;
}
