:root {
  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.75rem;
  --font-size-xxl: 2.625rem;

  --line-height-s: 1.25rem;
  --line-height-m: 1.37rem;
  --line-height-l: 1.5rem;

  --letter-spacing-s: 0px;
  --letter-spacing-m: 0.16px;
  --letter-spacing-l: 0.32px;

  --font-color-primary: #171717;
  --font-color-secondary: #565656;
  --font-color-tertiary: #8c8c8c;
  --font-color-link: #0062ff;
  --font-color-on-bg: #ffffff;

  --border-color-poignant: #565656;
  --border-color-soft: #8c8c8c;

  --border-radius-area-m: 5px;
  --border-radius-area-xl: 8px;
}
