:root {
  --ui-background: #ffffff;
  --ui-01: #f3f3f3;
  --ui-02: #ffffff;
  --ui-03: #dcdcdc;
  --ui-04: #8c8c8c;
  --ui-05: #171717;
  --text-01: #171717;
  --text-02: #565656;
  --text-03: #8c8c8c;
  --text-04: #ffffff;
  --link-01: #0062ff;
  --link-02: #0043ce;
}
